body{
    margin: 1;
}
header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: rgb(113, 115, 202);
    align-items: center;
    padding: 15px;
}
a{
    text-decoration: black;
    color: black;
}
nav a{
    padding: 5px;
}
nav a:hover{
    color: rgb(85, 82, 78);
}
h1{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    display: flex;
}
.logo img{
    height: 65px;

}
.general{
    margin-top: 60px;
    margin: auto;
    width: 960px;
    height: 800px;
    background-color: rgb(167, 186, 248);

}
.principal{
    float: right;
    width: 300px;
    height: 500px;
    background-color: rgb(137, 149, 221);
}
.registro{
    width: 640px;
    height: 200px;
    background-color: rgb(97, 98, 201);

}
.control{
    margin-top: 20px;
    width: 640px;
    height: 580px;
    background-color: rgb(87, 89, 199);

}
.imagen1{
    width: 200px;
    height: 150px;
    display: block;
    margin: 0px auto;
}
.imagen2{
    width: 600px;
    height: 500px;
    display: block;
    margin: 0px auto;

}
.imagen3{
    width: 350px;
    height: 350px;
    display: block;
    margin: 0px auto
}















.footer{
    width: 100%;
    background-color: #10518C;
    text-align: center;
    margin-top: 6rem;
    
}
.footer .copyright{
    background-color: #092641;
    padding: 1em 2em;
    text-align: center;
    color: white;
}
.footer .copyright small, P, h1{
    font-size: 15px;
}



