*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(84, 84, 214);
}
.login{
    width: 400px;
    height: 360px;
    background-color: gray;
    margin: auto;
    margin-top: 180px;
    padding: 20px 30px;
}
.login h1{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;

}
.control{
    width: 100%;
    border: 1px solid;
    margin-bottom: 15px;
    padding: 11px 10px;
    background-color: rgb(102, 99, 99);
}
.boton{
    width: 100%;
    height: 40px;
    background-color: rgb(121, 98, 221);
    border: none;
    
}
.login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
  

    